@mixin textStyle($color) {
    color: $color;
    font-size: $font-size-2xs;
    font-weight: $font-weight-medium;
    margin-bottom: $margin-md;
}

.crt {
    &__headerCart {
        font-size: $font-size-md;
        margin: $margin-xl 0;
    }

    &__qtyWrapper {
        &--qtyTitle {
            font-size: $font-size-xs, $font-weight-medium, $color-black-100;
            font-weight: $font-weight-medium;
            color: $color-black-100;
        }

        &--inputCts {
            font-size: $font-size-xs;
            height: 32px;
            width: 50px;
            text-align: center;
            border: none;
            margin: 0;
        }
    }

    &__footerCart {
        margin-top: $margin-xl;

        &--totalTitle {
            @include textStyle($color-black-100);
        }

        &--totalValue {
            @include textStyle($color-red-400);
        }
    }
}