@use "./variables" as *;
@use "./mixin" as *;

.flex-center {
    @include flex-center;
}

.is-required {
    &::after {
        content: "*";
        color: red;
        margin-left: 4px;
    }
}

.container-fluid {
    width: 100%;
    padding: 0 .1rem;
    margin-right: auto;
    margin-left: auto
}

.container {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto
}

@media (min-width: 768px) {
    .container {
        width: 750px
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px
    }
}

.boxShadow {
    box-shadow: $box-shadow-dropdown;
}