.hd {
    &__stickyHeader {
        position: sticky;
        top: 0;
        background: #fff;
        z-index: 1000;
    }

    &__topHeader {
        background-color: black;
        padding: $padding-xs 0;
        height: 50px;

        @media (max-width: 576px) {
            display: none;
        }
    }

    &__topHeaderMobile {
        background-color: black;
        padding: $padding-xs 0;

        @media (min-width: 576px) {
            display: none;
        }

        @media (max-width: 576px) {
            display: block;
        }
    }

    &__midHeader {
        &--text {
            font-weight: $font-weight-medium;
            text-transform: uppercase;
            letter-spacing: 2px;
            cursor: pointer;

            &:hover {
                color: $color-gray-scale-40;
            }
        }

        @media (max-width: 576px) {
            display: none;
        }
    }
}