.pl {
    &__cardTitle {
        margin: $padding-sm 0;
        font-size: $font-size-md;
        font-weight: $font-weight-regular;
        text-transform: uppercase;
        letter-spacing: 2.4px;
    }
}