@mixin ftText($fs) {
    font-size: $fs;
    text-transform: uppercase;
    font-weight: $font-weight-bold;
}

.box {
    padding: $padding-lg $padding-4xl;
    text-align: center;

    &__thumb {
        width: 50px;
        height: 50px;
        display: block;
    }

    &__title {
        font-weight: $font-weight-bold;
        text-transform: uppercase;
    }
}

.ft {
    background-color: black;
    padding: $padding-6xl 0;
    color: $color-base-white;

    &__logoText {
        @include ftText($font-size-sm);
        letter-spacing: 8px;
    }

    &__mailChip {
        &--header {
            @include ftText($font-size-2sm);
            @include flex-center;
        }

        form {
            margin: 20px 0;
        }
    }

    &__clickMe {
        &--header {
            @include ftText($font-size-2sm);
        }

        &--content {
            margin-top: 20px;

            a {
                color: $color-gray-scale-40;
                font-size: $font-size-xs;

                &:hover {
                    color: $color-red-400;
                }
            }
        }
    }
}