.adl {
    &__logo {
        height: 40px;
        margin: 24px;
        background-image: url("https://res.cloudinary.com/dydx2mqqw/image/upload/v1751747464/logo-white_gqyegs.png");

        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}